#size{
    width:120px;
    height: 90px;
    margin-left:610px;
    margin-top:19px;
}
#container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width:390px;
    height:410px;
    border-radius:5px;
    margin-left:500px;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    margin-left:25px;
    font-weight:400;
    font-size:28px;
    Line-height:34px;
}
#sign{
    margin-left:25px;
    font-weight:500;
    font-size:13px;
    height:19px;
}
#box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin-left:25px;
    font-weight:400;
    font-size:13px;
    Line-height:normal;
    width:320px;
    margin-left:30px;
    }
#help{
    margin-left:25px;
    font-weight:400;
    font-size:13px;
    Line-height:19px;
    text-decoration:none;
}
#shadow{
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
     width:210px;
    margin-left:555px;
    padding-left:75px;
}
#account{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width:390px;
    border-radius:10px;
    height:30px;
    background-color: white;
    margin-left:500px;
}
#copyright{
    font-weight:200;
    font-size:9px;
    Line-height:16px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(129,129,129);
    margin-left:570px;
}