.container{
    display:contents;
    width:1500px;
    height:800px;
    color:rgb(249, 249, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
     width:1400px;
    height:40px;
    text-align: center;
    text-shadow:15px;
}
#card{
     width:500px;
    height:500px;
    background-image: url(https://cdn.pixabay.com/photo/2023/01/21/13/39/night-sky-7733876_640.jpg);
    margin-left:480px;
    margin-top:60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#box{
    width:350px;
    font-size:18px;
    padding-block: 5px;
    margin:18px;
    }
#block{
    font-size:18px;
    margin-left:18px;
}
#check{
    width:350px;
    font-size:18px;
    padding-block: 5px;
    margin:18px;
}
